.carddd {
  width: 95%;
  height: 100vh;
  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.75; */
  border-radius: 15px 0 0 0;
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  background: none;
  padding: 3rem;
  color: white;
}
.salutation {
  background: none;
  /* padding: 1rem; */
  font-size: 2rem;
  font-weight: 500;
  opacity: 1;
  color: whitesmoke;
}
.idea {
  /* background: none; */
  /* padding: 1rem; */
  background-color: rgb(33, 33, 33, 0.7);
  margin-left: 75%;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.idea:hover {
  background-color: rgb(33, 33, 33, 0.3);
}
.dots {
  background: none;
  margin-left: 3%;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.dots:hover {
  background-color: rgb(255, 255, 255, 0.15);
}
.salutation-container {
  display: flex;
  flex-direction: column;
  background: none;
  cursor: default;
}
.date {
  background: none;
}
.task-list {
  flex: 1;
}
