.tasks-container {
  display: flex;
  flex-direction: column;
  background: none;
  /* justify-content: space-between; */
  height: 100vh;
}
.taskss {
  background: none;
  flex: 2;
}
.task-body {
  width: 65rem;
  /* height: 10%; */
  /* flex-grow: 0; */
  display: flex;
  padding: 0.5rem;
  background: rgb(33, 33, 33, 0.9);
  color: white;
  margin-top: 0.2rem;
  margin-left: 3rem;
  margin-right: 5rem;
  border-radius: 0.5rem;
  flex: 2;
}

.checking {
  /* width: 0.5rem;
  height: 0.5rem; */
  padding: 0.3rem;
  background: none;
}
.description {
  padding: 0.3rem;
  flex: 1;
  background: none;
}
.description div {
  background: none;
}
.favorite {
  padding: 0.3rem;
  background: none;
}
.task-body:hover {
  background: rgb(33, 33, 33, 0.5);
}
.task-form {
  margin-left: 3rem;
  margin-right: 5rem;
  margin-bottom: 0.5rem;
  background: rgb(33, 33, 33, 0.9);
  border-radius: 0.5rem;
  /* align-self: flex-end; */
  justify-self: flex-end;
  /* flex: 1; */
}
.input-field {
  background: none;
  padding: 0.5 rem;
  border-radius: 0.5rem;
}
.input-box {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  background: none;
  border: 0px;
  font-size: 1rem;
  color: white;
  padding: 0.3rem;
}
.task-form:hover {
  background-color: rgb(33, 33, 33, 0.5);
}
.input-box::placeholder {
  color: white;
}
.circle {
  background: none;
}
.starr {
  background: none;
  display: flex;
  flex-direction: column;
}
.delete {
  background: none;
  padding: 0.3rem;
  color: rgb(33, 33, 33, 0);
}
.starr:hover {
  color: rgb(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
}
.delete:hover {
  color: white;
}
